/* ################ MOBILE ################ */
@media screen and (max-width:600px){
    header .container {
        display: flex;
        flex-direction: column;
    }

    header nav {
        margin-top: 15px;
    }

    .poster .button {
        margin-top: 5px;
        width: 300px;
    }
}

/* ################ TABLET ################ */
@media screen and (min-width:1000px) {
    .poster .synopsis {
        width: 70%;
    }
}